<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/partials/adminPanel.css">
    <link rel="stylesheet" href="/css/admin/dashBoard.css">
    <script src="/js/adminPanel.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <title>Document</title>
</head>

<body>
    <%- include("../partials/adminPanel") %>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
                <span class="text">Cenflix | DashBoard</span>
            </div>
            <div class="dashboard">
                <div class="dashBoard-cards">
                    <div class="card">
                        <div class="header">
                            <h3>Users</h3>
                            <h4><%= usersData.get("Users") %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/userIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Visitors</h3>
                            <h4><%= VisitorCount.VisitorCount %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/visitorIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Earnings</h3>
                            <h4><%= Earnings.get("Earnings") %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/earningsIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Running</h3>
                            <h4><%= RunningMovies.get("RunningMovies") %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/runningIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Featured</h3>
                            <h4><%= FeaturedMovies.get("FeaturedMovies") %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/featuredIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>Pendings</h3>
                            <h4><%= PendingMovies.get("Pendings") %></h4>
                        </div>
                        <div class="icon">
                            <img src="/images/resources/pendingIcon.png" alt="" style="width: 100%; height: 100%">
                        </div>
                    </div>
                </div>
                <div class="dashBoard-charts">
                    <canvas id="myChart" style="width:100%;max-width:750px"></canvas>
                    <canvas id="myChart1" style="width:100%;max-width:750px"></canvas>
                </div>
            </div>
        </section>
        <script>
            var xValues = ["Maula Jatt", "3-1diots", "PK", "Spider Man", "Iron Man"];
            var yValues = [55, 49, 44, 24, 15];
            var barColors = ["red", "green", "blue", "orange", "brown"];

            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Trending Featured Movies"
                    }
                }
            });

            // =========================================== //

            var xValues1 = ["Maula Jatt", "3-1diots", "PK", "Spider Man", "Iron Man"];
            var yValues1 = [55, 49, 44, 24, 15];
            var barColors1 = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
                "#1e7145"
            ];

            new Chart("myChart1", {
                type: "pie",
                data: {
                    labels: xValues1,
                    datasets: [{
                        backgroundColor: barColors1,
                        data: yValues1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Todays Movie Bookings"
                    }
                }
            });
        </script>
</body>

</html>