<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/partials/adminPanel.css">
    <link rel="stylesheet" href="/css/admin/viewUsers.css">
    <script src="/js/adminPanel.js" defer></script>
    <script src="/js/searching.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="upload-slider">
        <%- include("../partials/adminPanel") %>
            <section class="home-section">
                <div class="home-content">
                    <i class='bx bx-menu'></i>
                    <span class="text">Cenflix | View FeedBack</span>
                </div>
                <div class="users-data">
                    <div class="searchBox">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names...">
                    </div>
                    <table id="myTable">
                        <tr>
                            <th>FeedBackID</th>
                            <th>UserName</th>
                            <th>FeedBackType</th>
                            <th>FeedBackMsg</th>
                        </tr>

                        <% let i=0 %>
                            <% customersFeedBack.forEach(function(FeedBack){ %>
                                <tr>
                                    <td>
                                        <%= ++i %>
                                    </td>
                                    <td>
                                        <%=FeedBack.UserName%>
                                    </td>
                                    <td>
                                        <%=FeedBack.Type%>
                                    </td>
                                    <td>
                                        <%=FeedBack.FeedBackMsg%>
                                    </td>
                                </tr>
                            <% }); %>

                    </table>
                </div>

            </section>
</body>

</html>